<a href="https://colab.research.google.com/github/JustinneManla/PLNG211-QC/blob/main/Introduction_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

# New Section

In [ ]:
#Python Indentation example (labeling)

if 5>2:
  print("5 is greater than 2")

5 is greater than 2

Python Variables

In [ ]:
x =1
a, b = 0,-1
print(a)
c = "Sally"
c = "Danny"
#Code is read by line so the newer declaration will be read.
print(c)
c = "Maria"

0
Danny

In [ ]:
print(c)
#Code cell will print latest (c) declaration from previous cell.

Maria

Multiple Variables

In [ ]:
 #Multiple variables with declaration in a single line.
 f, g, h = "one", "two", "three"
 print(f)
 print(g)
 print(h)

one
two
three

Python Casting

In [ ]:
#Explicit type casting
#Python needs user involvement to convert the variable data type into certain data type.
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

In [ ]:
#Implicit type casting
#Python automatically converts data types.
d = 4.0
e = 4
print(type(d))
print(type(e))

<class 'float'>
<class 'int'>

Single Quote or Double Quote

In [ ]:
print('Look')
print("Look")
#Single or double quotation in python is interchangable.

Look
Look

Single Value to Multiples Variables

In [ ]:
#Since x is equal to y and z, a single value can be stored in multiple variables in the declaration.
x=y=z="Lilo"
print(x)
print(y)
print(y)

Lilo
Lilo
Lilo

Output Variables

In [ ]:
#Print displays output of variables.
s = "Python"
t = "is"
r = "fun"
print(s + t + r)
#No blank space declared in the variables. Can be added with a single/double quoation in the equation.
print (s +' ' +  t  + ' '+ r)

Pythonisfun
Python is fun

Arithmetics

In [ ]:
from re import I
u = 5
i = 4
sum = u + i
#Values will be declared in the variable sum
print(sum)

#Modulo division
l = 4%2
print("4%2", l)

#Floor division
k = 3//2
print("3//2", k)

9
4%2 0
3//2 1